  @{
      Page.Title = "Looking for a cat";
      //Layout = "Your Layout Page goes here";
      Layout = "~/Shared/_Layout.cshtml";

      
}

@section header {
    <h2><a href="~/Home.cshtml">Cat Lovers Only</a></h2>
    <h4>Where cat lover meet</h4>
    <nav>


        <ul>
            <li><a href="~/Home.cshtml"><strong>Home</strong></a></li>
            <li><a href="~/BuyingCat.cshtml"><strong>Buying a cat</strong></a></li>
            <li><a href="~/SellingCat.cshtml"><strong>selling a cat</strong></a></li>
        </ul>
    </nav>
}

@section footer {

    <p>&copy; Cat loving</p>
}
<div class="unbox">
    @if (Session["username2"] == null)
    {    }
    else
    {   <p id="greet">Welcome back @Session["username2"]</p> }
    <a href="~/LoginForm.cshtml" ; id="register">
        @if (Session["username2"] == null)
        {
            <b style="background:skyblue;">SignIn</b>
        }
        else
        {
            <b>Signout</b>
        }
    </a>   </div>

@foreach (string x in Request.Cookies)
{
    if (Request.Cookies[x].HasKeys)
    {
        foreach (string y in Request.Cookies[x].Values)
        {
            <p>@x : @y = @Request.Cookies[x][y]</p>
        }

    }
    else
    {
        if (x == "numVisited")
        {
            <p>Number of time you visit the website: @Request.Cookies[x].Value times</p>
        }

    }
}
