@{
    Page.Title = "0003 Pong";
    //Layout = "Your Layout Page goes here";
    Layout = "~/Shared/_LayoutBuyingPage.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col">
            <h1>My name is Pong!</h1>
            <img src="../images/../images/selling cat/Pong.jpg"
                 height="400" width="600" />
        </div>
        <div class="col centerBox">
            <br /><br /><br /><br />
            <h2>I'm available in Cat Lovers Only Store. Come and take me to place call home</h2>
            <hr />
            <h2>Facts About Me</h2>
            <p>
                <strong>Breed</strong>   Singapura cat<br />
                <strong>Color</strong>   white, black and gray<br />
                <strong>Age</strong>   Junior<br />
                <strong>Sex</strong>   Male<br />
                <strong>ID</strong>   0003<br />
            </p>
        </div>
    </div>

</div>
<div class="container">
    <hr />
    <h1>My Story</h1>
    <p>Meet Pong, a 1-year-old white, black and gray shorthair kitty. This sweet fellow loves hanging out and catnaps. If you have space in you home for cool cats, come by Cat Lover Only Store and check him out!</p>
</div>  