
<!DOCTYPE html>
<html>
<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/bootstrap-4.0.0/dist/css/bootstrap.min.css" />
    <title>@Page.Title</title>
    <link href="~/css/Stylesheet1.css" rel="stylesheet" type="text/css" />
    @*<script type="text/javascript" src="~/js/ValidateLoginForm.js"></script>*@ 
</head>
<body>
    <div class="page">

        <div id="header">
            @RenderSection("header", required: false)
        </div>        
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            @RenderSection("footer")
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!--JS Bootstrap-->
    <script src="css/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
